services:
  db:
    image: postgres:15-alpine
    container_name: postgres-db
    environment:
      - POSTGRES_USER=cvmanager-user
      - POSTGRES_PASSWORD=ChangeThisPasswordInProduction!
      - POSTGRES_DB=cvmanager_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: